extends layout

block content
  div
    h2 Shahzada Fahad Ashraf
    p I'm a Lahore-based software engineer who specializes in building (and occasionally designing) exceptional digital experiences. Currently, I'm a Full-stack developer at Conrad Labs focused on building a real-time testing and analytics engine for semiconductor wafers.
    p +92 324 949 6639
    p sh.fahadashraf@gmail.com
    a(href="https://www.linkedin.com/in/fahadachaudhry/" class="home-credential-urls") LinkedIn/@FahadAChaudhry