extends layout

block content
  div(class="d-flex align-items-center justify-content-center height-100vh")
    div(class="home-credentials shadow")
      include credentials.pug
    include topbar.pug